.container {
    max-width: 1200px;
}
header, footer{
    background-color: #000;
}
header .logo-box {
    text-align: center;
    width: 100%;
    padding: 20px;
}

header #logo {
    width: 50%;
    margin: 0 auto;
}
